.input {
    margin: 7px;
    border: 1px solid black;
    border-radius: 0.25rem;
}
.btn {
    margin: 10px 25px;
}
.table {
    margin-left: 25px;
    border: 1px solid black;
}
.td {
    height: 35px;
    width: 35px;
    background: white;
    border: 1px solid black;
}
