html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #f2f4f8;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 100%;
  height: 60px;
  background: rgb(53, 53, 67);
}

.container {
  margin: 0px auto;
  width: 960px;
  height: 60px;
}

.header_logo {
  padding-top: 15px;
  width: 35px;
  float: left;
}

.header_line {
  height: 60px;
  display: flex;
  align-items: center;
  float: right;
}

#logo_header {
  width: 35px;
}

#link_header {
  color: #727989;
  text-decoration: none;
  border-bottom: 1px dashed #727989; /* Параметры линии под текстом */
  font-weight: normal; /* Убираем жирное начертание */
  padding-bottom: 1px;
}
.icon_header {
  width: 25px;
  padding: 0px 17px;
}

#user_foto {
  padding: 0px 10px;
}

/* Nav */
.nav {
  width: 100%;
  height: 40px;
  background: #727989;
}
.menu_nav {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin: 0px auto;
  width: 960px;
  height: 40px;
  display: flex;
  color: white;
}
.link_menu {
  text-decoration: none;
  color: white;
  margin-right: 25px;
  height: 40px;
}
.link_border_top {
  padding-top: 5px;
  color: white;
  border-top: 5px solid #727989;
}
.link_border_top:hover {
  border-top: 5px solid white;
}

/* Main */
.main {
  margin: 0 auto;
  width: 960px;
  display: flex;
  background: white;
  flex: 1 0 auto;
}
.left_menu {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 200px;
  height: 100%;
  color: grey;
  border-left: 1px solid #e0e4ed;
  padding-top: 15px;
}
.submenu {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  padding: 35px 0px 10px 25px;
  color: black;
}

a {
  text-decoration: none;
}

li {
  display: flex;
  color: grey;
  list-style-type: none;
  color: white;
}
.link_border_left {
  padding: 12px 25px 12px 20px;
  border-left: 5px solid white;
  color: grey;
}
.link_border_left:hover {
  padding: 12px 25px 12px 20px;
  border-left: 5px solid grey;
  color: black;
}

.comments {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #e0e4ed;
  border-right: 1px solid #e0e4ed;
}

.title_comments {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  color: black;
  padding-right: 40px;
  padding-left: 40px;
}
#link_comments {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  color: black;
  border-bottom: 1px dashed black;
  font-weight: normal;
  padding-bottom: 1px;
}
#icon_more_title {
  width: 30px;
}
.search_comments {
  width: 100%;
  height: 50px;
  display: flex;

  align-items: center;
  background: #f2f4f8;
}
.search_form {
  width: 350px;
}
.search_div {
  display: flex;
  background: white;
  border: 1px solid #9fa9a9;
  border-radius: 5px;
  align-items: center;
  margin-left: 40px;
}
input {
  width: 100%;
  height: 38px;
  padding-left: 10px;
  outline: none;
  background: white;
  border-style: hidden;
  color: #8e918c;
}
#icon_search_body {
  height: 26px;
  padding-right: 5px;
}

.item {
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: auto;
}
#icon_diagramm {
  width: 28px;
  padding-right: 30px;
  padding-left: 80px;
}
.text_comments_container {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 40px;
}
.item_comments {
  display: flex;
  padding-top: 30px;
}
.text_comments_user {
  font-size: 12px;
  padding-left: 10px;
}
.status {
  background-color: #f2f4f8;
  margin-left: 30px;
  padding: 5px 15px;
  border-radius: 5px;
}
.comments_icon {
  float: right;
  padding-right: 30px;
}

.icon_ {
  width: 15px;
  vertical-align: middle;
}
.item_title {
  font-size: 16px;
  color: #4f9cd4;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.text_item_title {
  font-size: 15px;
  color: black;
}

.btn_container {
  display: flex;
  justify-content: center;
  margin: 20px 8px 80px 0px;
}
.btn {
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 4px;
  margin: 0px 5px;
  border-style: hidden;
  border: 1px solid rgb(166, 165, 165);
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover {
  background-color: #762f2f;
  color: white;
}
.icon_button {
  width: 14px;
  padding: 0px 2px;
}
.footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background: #f2f4f8;
  width: 100%;
  height: 90px;
  /* align-self: flex-end; */
  margin-top: auto;
}
.links_div_footer {
  color: grey;
  padding-left: 30px;
  padding: 15px 0px;
  border-bottom: 2px solid white;
}

.link_footer {
  color: grey;
  padding-left: 30px;
}
.text_footer {
  color: grey;
  padding: 15px 30px;
  display: flex;
}
#logo_footer {
  padding-right: 10px;
}
/* * {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 60%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #444;
  background-color: #f3f3f3;
  height: 100vh;
  padding: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.welcome {
  font-size: 2rem;
  font-weight: 500;
}

.logo {
  height: 7rem;
}

.login {
  display: flex;
}

.login__input {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 2rem;
  font-family: inherit;
  text-align: center;
  width: 12rem;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid #fff;
  transition: all 0.3s;
}

.login__input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.login__input::placeholder {
  color: rgb(105, 105, 105);
}

.login__btn {
  border: none;
  background: none;
  font-size: 2.2rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.login__btn:hover,
.login__btn:focus,
.btn--sort:hover,
.btn--sort:focus {
  outline: none;
  color: rgb(105, 105, 105);
}

/* Main */
/* .app {
  position: relative;
  max-width: 100rem;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;

  /* Create fade animation */
/* opacity: 0;
  transition: all 1s;
}

.balance {
  grid-column: 1 / span 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.balance__label {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}

.balance__date {
  font-size: 1.4rem;
  color: rgb(110, 110, 110);
}

.balance__value {
  font-size: 4.5rem;
  font-weight: 400;
} */

/* Transactions */
/* .transactions {
  grid-row: 2 / span 3;
  background-color: #fff;
  border-radius: 1rem;
  overflow: scroll;
}

.transactions__row {
  padding: 2.25rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.transactions__type {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
}

.transactions__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(86, 86, 86);
}

.transactions__type--deposit {
  background-image: linear-gradient(to top left, #399bb3, #72d6e4);
}

.transactions__type--withdrawal {
  background-image: linear-gradient(to top left, #f07b0d, #ca7e1a);
}

.transactions__value {
  font-size: 1.8rem;
  margin-left: auto;
} */

/* Total */
/* .total {
  grid-row: 5 / 6;
  display: flex;
  align-items: baseline;
  padding: 0 0.3rem;
  margin-top: 1rem;
}

.total__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.total__value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
}

.total__value--in,
.total__value--interest {
  color: #399bb3;
}

.total__value--out {
  color: #f07b0d;
}

.btn--sort {
  margin-left: auto;
  border: none;
  background: none;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
} */

/* Operations */
/* .operation {
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: #333;
}

.operation--transfer {
  background-image: linear-gradient(to top left, #547202, #b7d433);
}

.operation--loan {
  background-image: linear-gradient(to top left, #068394, #40dad2);
}

.operation--close {
  background-image: linear-gradient(to top left, #e93c07, #d36c71);
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
} */

/* Exceptions for interest */
/* .form.form--loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}
.form__label--loan {
  grid-row: 2;
} */
/* End of exceptions */

/* .form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1.6rem;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
  font-size: 1.4rem;
  text-align: center;
}

.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.logout-timer {
  padding: 0 0.3rem;
  margin-top: 1.9rem;
  text-align: right;
  font-size: 1.25rem;
}

.timer {
  font-weight: 600;
} */
