@media screen and (max-width: 500px) {
  .menu_nav {
    display: none;
  }
  .left_menu {
    display: none;
  }
}

html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  background: #f2f4f8;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 100%;
  height: 60px;
  background: rgb(53, 53, 67);
}

.container {
  margin: 0px auto;
  max-width: 960px;
  width: 100%;
  height: 60px;
}

.header_logo {
  padding-top: 15px;
  width: 35px;
  float: left;
}

.header_line {
  height: 60px;
  display: flex;
  align-items: center;
  float: right;
  color: #727989;
}

#logo_header {
  width: 35px;
  transition: 1s;
}
#logo_header:hover {
  width: 35px;
  transform: rotate(360deg);
}

#link_header {
  color: #727989;
  text-decoration: none;
  border-bottom: 1px dashed #727989;
  font-weight: normal;
  padding-bottom: 1px;
}
.icon_header {
  width: 25px;
  padding: 0px 17px;
}

#user_foto {
  padding: 0px 10px;
}

/* Nav */
.nav {
  width: 100%;
  height: 40px;
  background: #727989;
}
.menu_nav {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin: 0px auto;
  max-width: 960px;
  width: 100%;
  height: 40px;
  display: flex;
  color: white;
}
.link_menu {
  text-decoration: none;
  max-width: 80px;
  color: white;
  margin-right: 25px;
  height: 40px;
}
.link_border_top {
  padding-top: 5px;
  color: white;
  border-top: 5px solid #727989;
  transition: 1s;
}
.link_border_top:hover {
  border-top: 5px solid white;
}

#dropbtn {
  background-color: rgb(53, 53, 67);
  color: white;
  border: none;
}
#icon_dropdown {
  width: 28px;
  margin-left: 20px;
}
#icon_dropdown:hover {
  width: 28px;
  margin-left: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
}

.dropdown-content a {
  background-color: rgb(53, 53, 67);
  color: black;
  padding: 2px 5px;
  text-decoration: none;
  border: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: rgb(53, 53, 67);
  color: white;
  padding: 3px 5px;
  text-decoration: none;
  border: none;
  display: block;
}
.show {
  display: block;
}
/* Main */
.main {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
  display: flex;
  background: white;
  flex: 1 0 auto;
}
.left_menu {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 200px;
  height: 100%;
  color: grey;
  border-left: 1px solid #e0e4ed;
  padding-top: 15px;
}
.submenu {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  padding: 35px 0px 10px 25px;
  color: black;
}

a {
  text-decoration: none;
}

li {
  display: flex;
  color: grey;
  list-style-type: none;
  color: white;
}
.link_border_left {
  padding: 12px 25px 12px 20px;
  border-left: 5px solid white;
  color: grey;
}
.link_border_left:hover {
  padding: 12px 25px 12px 20px;
  border-left: 5px solid grey;
  color: black;
}

.comments {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #e0e4ed;
  border-right: 1px solid #e0e4ed;
}

.title_comments {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  color: black;
  padding-right: 40px;
  padding-left: 40px;
}
#link_comments {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  color: black;
  border-bottom: 1px dashed black;
  font-weight: normal;
  padding-bottom: 1px;
}
#icon_more_title {
  width: 30px;
}
.search_comments {
  width: 100%;
  height: 50px;
  display: flex;

  align-items: center;
  background: #f2f4f8;
}
.search_form {
  max-width: 350px;
  width: 100%;
}
.search_div {
  display: flex;
  background: white;
  border: 1px solid #9fa9a9;
  border-radius: 5px;
  align-items: center;
  margin-left: 40px;
}
input {
  width: 100%;
  height: 38px;
  padding-left: 10px;
  outline: none;
  background: white;
  border-style: hidden;
  color: #8e918c;
}
#icon_search_body {
  height: 26px;
  padding-right: 5px;
}

.item {
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-left: 10px;
}
#new_item {
  color: #99a1b3;
  font-size: 14px;
}
#icon_diagramm {
  width: 28px;
  padding-right: 60px;
  margin-left: 80px;
}
.text_comments_container {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 40px;
}
.foto_comments_user {
  transition: 1s;
}
.foto_comments_user:hover {
  transform: scale(1.8);
}
.item_comments {
  display: flex;
  padding-top: 30px;
  padding-right: 30px;
}

.text_comments_user {
  font-size: 12px;
  padding-left: 10px;
  color: #99a1b3;
}
.status {
  background-color: #f2f4f8;
  margin-left: 30px;
  padding: 5px 15px;
  border-radius: 5px;
}
.comments_icon {
  float: right;
  padding-right: 30px;
}

.icon_ {
  width: 15px;
  vertical-align: middle;
}
.item_title {
  font-size: 16px;
  color: #4f9cd4;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.text_item_title {
  margin-right: 10px;
  font-size: 15px;
  color: black;
}

.btn_container {
  display: flex;
  justify-content: center;
  margin: 20px 8px 80px 0px;
}
.btn {
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 4px;
  margin: 0px 5px;
  border-style: hidden;
  border: 1px solid rgb(166, 165, 165);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  transition: 1s;
}
.btn:hover {
  background-color: #c6467e;
  color: white;
}
.icon_button {
  width: 14px;
  padding: 0px 2px;
}
.footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background: #f2f4f8;
  width: 100%;
  height: 90px;
  /* align-self: flex-end; */
  margin-top: auto;
}
.links_div_footer {
  color: grey;
  padding-left: 30px;
  padding: 15px 0px;
  border-bottom: 2px solid white;
}

.link_footer {
  color: grey;
  padding-left: 30px;
}
.text_footer {
  color: grey;
  padding: 15px 30px;
  display: flex;
}
#logo_footer {
  padding-right: 10px;
}
