body {
    margin: 20px;
    text-align: center;
}

button {
    margin: 5px 0;
    padding: 7px 70px;
    font-size: 17px;
    border-radius: 5px;
}

.time {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    font-size: 40px;
}

.style {
    margin: 0 5px;
    width: 90px;
    padding: 2px 0;
    border: 1px solid black;
    border-radius: 5px;
}

.block-hidden {
    display: none;
}

.block-visible {
    display: inline-block;
}